h1, .title {
    font-size: 5vh;
    margin: auto 0;
    text-align: center;
    padding: 10px;
    color: #0000ff;
}

.title:hover {
    cursor: pointer;
}


#count-container {
    margin: auto;
    padding: 10px;
    text-align: center;
}